# Node
node_modules/
src/config/guork-f47e7-firebase-adminsdk-fbsvc-10b7643e28.json
# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Others
coverage/
*.log
